@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0 !important;
    font-family: Roboto, sans-serif;
}

html, body { height: 100%; }

.mat-mdc-button-touch-target{
    border-radius: 25px !important;
    background-color: #00bcd4 !important;
}
  